@import url('https://fonts.googleapis.com/css2?family=Anton&family=Heebo:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: 100%;
}

/*logo and heading style*/

h1,
h2 {
    font-family: Anton, sans-serif;
    text-transform: uppercase;
}

#gym-logo {
    float: left;
    color: rgb(0, 255, 51);
    letter-spacing: 8px;
    font-size: 280%;
    margin-left: 30px;
    text-shadow: 10px 9px 13px #fff;
}

#gym-logo,
#nav-links {
    line-height: 90px;
}

#nav-links {
    letter-spacing: 5px;
    font-size: 140%;
}

#nav-links li {
    float: right;
    text-transform: uppercase;
    list-style-type: none;
    margin-right: 30px;
}

li a {
    text-decoration: none;
    color: #fff;
    font-weight: 900;
}

#nav-links a.highlight:hover {
    color: rgb(0, 255, 51);
    font-size: 30px;
    text-shadow: 15px 9px 13px #fff;
}

#nav-links a.active {
    color: rgb(0, 255, 51);
    font-size: 30px;
    text-shadow: 15px 9px 13px #fff;
}

/*background image and join button*/

#hero-image {
    width: 100%;
    height: 700px;
    background: url('../images/man-woman-image.jpg') no-repeat center center;
}

#first-section {
    width: 100%;
    height: 900px;

}

.join-now {
    background-color: rgb(0, 255, 51);
    border: 1px solid black;
    font-size: 35px;
    position: absolute;
    left: 50%;
    top: 85%;
    text-transform: uppercase;
    text-align: center;
    transform: skew(-10deg);
    padding: 10px 10px;
}

.join-now:hover {
    color: white;

}

/* oblique line divider */

.mini-line {
    position: absolute;
    background: rgb(0, 255, 51);
    height: 10px;
    width: 100%;
    transform: skewY(183deg);
}

/* about us div styling*/

#about {
    text-align: left;
    width: 100%;
    height: 210px;
    color: #fff;
    font-weight: bold;
    background-color: rgb(4, 9, 9);
    transform: skewY(180deg);
    padding-left: 10px;



}

#about ul {
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-size: 210%;
    font-weight: bold;
    letter-spacing: 6px;
    padding: 10px;

}

/*style for our-services */

#services-box {
    height: 300px;
}

#box {
    display: flex;
    text-align: justify;
}

#left-crossfit,
#right-nutritionist,
#center-group-courses {
    padding: 40px;
    width: 25%;

}


h3 {
    text-align: center;
    padding-bottom: 10px;
    letter-spacing: 3px;
    color: rgb(0, 255, 51);
    font-size: 30px;
}

/* instructors section */

#instructors-box {
    height: 400px;
}

#images-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    text-align: center;
    padding-top: 20px;

}

.trainer-image,
h4 {
    width: 50%;
    border-radius: 60%;
    transition: transform .2s;
}


.trainer-image:hover {
    transform: scale(1.1)
}

h4 {
    letter-spacing: 3px;
    font-weight: bold;
    padding-left: 80px;
}

/* footer styling */

footer {
    padding: 2%;
    background: black;

}

.social-media {
    text-align: center;

}

.social-media>li {
    display: inline;
    margin: 6rem;
}

.social-media i {
    font-size: 180%;
    color: rgb(0, 255, 51);

}

/*pricing page*/



#pricing-container {

    background: url('../images/boxing-gym-image.png') no-repeat center center;

}


.pricing-lists {
    display: flex;
    justify-content: center;
    width: 100%;
}

.columns {
    width: 33%;
    padding: 5rem;

}

.price {
    list-style-type: none;
    transition: 0.5s;
    background-color: #0000007a;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    border: 2px solid rgb(0, 255, 51);
}

.price li {

    padding: 20px;
    text-align: center;

}


.button {
    background-color: rgb(0, 255, 51);
    color: white;
    font-size: 30px;
}

.button:hover {
    font-size: 35px;

}

.li-header {
    text-shadow: 12px 1px 6px #fff;

}

.amount {
    font-size: 35px;
    color: #fff;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px #fff;

}

.price:hover {
    background-color: #02361b7a;

}

.month-small {
    font-size: 15px;
    text-align: center;
}

.offers-title {
    position: absolute;
    color: #fff;
    text-align: center;

}

/*contact page styling*/
#contact-section {
    background: url('../images/man-workout.jpg') no-repeat;
    width: 100%;
    height: 950px;
    background-size: cover;

}

/*contact form stlyle*/


#form {
    margin: 150px 30px;
    position: absolute;
    background-color: transparent;
    color: #fff;
    font-weight: 900;
    letter-spacing: 3px;

}

#form>h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

.text-input {
    display: flex;
    background-color: transparent;
    color: #fff;
    height: 50px;
    width: 80%;
    border: solid 2px #ffffff;
    margin: 5px 0 20px 0;


}


.text-input:hover {
    border: solid 4px rgb(0, 255, 51);
}

#text-area {
    height: 120px;
}

::placeholder {
    color: #fff;
    letter-spacing: 2px;
    font-style: italic;
    font-size: x-small;

}

input[type=submit] {
    background-color: rgb(0, 255, 51);
    font-size: 25px;
    margin: 2px;
    padding: 5px 5px;
    margin: 10px;
    justify-content: left;
    transform: skew(-10deg);
}

input[type=submit]:hover {
    color: #fff;
    font-size: 30px;
}