@import url('https://fonts.googleapis.com/css2?family=Anton&family=Heebo:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
}

/*logo and heading style*/

h1 { font-family:Anton, sans-serif;
     text-transform: uppercase;
    }
#gym-logo {
    float: left;
    color:rgb(0, 255, 51) ;
    letter-spacing: 8px;
    font-size: 280%;
    text-shadow: 4px 4px 4px black;}
#gym-logo, #nav-links {
    line-height: 75px;

}

#nav-links {
    letter-spacing: 6px;
    font-size: 140%;
}
#nav-links li {
    float: right;
    text-transform: uppercase;
    list-style-type: none;
    margin-right: 30px;
    
}
li a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;

}

#nav-links a.highlight:hover { color: rgb(0, 255, 51); font-size: 28px;}
#nav-links a.active { color:  rgb(0, 255, 51); text-decoration: underline 1px solid black;}

/*background image styling*/
#hero-image {
    width:100%;
    height:700px;
    background: url('../images/man-woman-image.jpg') no-repeat center center;
}