@import url('https://fonts.googleapis.com/css2?family=Anton&family=Heebo:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: 100%;
}

/*logo and heading style*/

h1,
h2 {
    font-family: Anton, sans-serif;
    text-transform: uppercase;
}

#gym-logo {
    float: left;
    color: rgb(0, 255, 51);
    letter-spacing: 8px;
    font-size: 280%;
    text-shadow: 4px 4px 4px #fff;
    margin-left: 30px;
}

#gym-logo,
#nav-links {
    line-height: 90px;

}

#nav-links {
    letter-spacing: 6px;
    font-size: 140%;
}

#nav-links li {
    float: right;
    text-transform: uppercase;
    list-style-type: none;
    margin-right: 30px;

}

li a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;

}

#nav-links a.highlight:hover {
    color: rgb(0, 255, 51);
    font-size: 17px;
}

#nav-links a.active {
    color: rgb(0, 255, 51);
    text-decoration: underline 1px solid #fff;
}

/*background image styling*/
#hero-image {
    width: 100%;
    height: 700px;
    background: url('../images/man-woman-image.jpg') no-repeat center center;
}

#first-container {
    width: 100%;
    height: 900px;

}

/* oblique line divider */

.mini-line {
    position: absolute;
    background: rgb(0, 255, 51);
    height: 10px;
    width: 100%;
    transform: skewY(183deg);
}

#about {
    text-align: left;
    width: 100%;
    height: 200px;
    color: #fff;
    font-weight: bold;
    background-color: rgb(4, 9, 9);
    transform: skewY(180deg);


}

h2 {
    font-size: 210%;
    font-weight: bold;
    letter-spacing: 6px;
    margin-left: 15px;

}

/*style for our services */

#extra-services {
    height: 300px;
}

#box {
    display: flex;
    text-align: justify;
}

#left-crossfit {
    padding-top: 30px;
    width: 30%;
    margin-right: 20px;

}

#right-nutritionist {
    padding-top: 30px;
    width: 30%;
    margin-right: 20px;
}

#center-group-courses {
    padding-top: 30px;
    width: 33%;
    margin-right: 20px;

}

h3 {
    text-align: center;
    padding-bottom: 10px;
    letter-spacing: 3px;
    color: rgb(0, 255, 51);
    font-size: 30px;
}

#instructors-box {
    height: 400px;
}

#image-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    text-align: center;

}

.trainer-image,h4 {
    width: 50%;
    border-radius: 60%;
    margin-left: px;
    transition: transform .2s;
}


.trainer-image:hover {
    transform: scale(1.1)
}

h4 {
    letter-spacing: 3px;
    font-weight: bold;
    padding-left: 80px;
}

footer {
    padding: 2%;
    background: black;

}

.social-media {
    text-align: center;
    
}

.social-media>li {
    display: inline;
    margin: 6rem;
}

.social-media i {
    font-size: 180%;
    color: rgb(0, 255, 51);

}
/*pricing page*/
#hero-image2-section {
    
}

#hero-image2 {
    background: url('../images/boxing-gym-image.png') no-repeat;
    width:100%;
    height:700px;
    background-size: cover;
    background-position: center ;
}